.sidebars-area.mb-3.pb-1
  .single-sidebar-widget.list_block
    .sidebars-area.mb-4.p-0
      %h6.title
        Социальные сети
      %ul.block_list
        %li.d-flex.justify-content-between.align-items-center
          .icons.d-flex.flex-row.align-items-center
            = fa_icon "vk", class: "mr-1 fa-icons"
            .pl-2
              = link_to 'proartifact_ru', 'https://vk.com/proartifact_ru', target: '_blank'
        %li.d-flex.justify-content-between.align-items-center
          .icons.d-flex.flex-row.align-items-center
            = fa_icon "telegram", class: "mr-1 fa-icons"
            .pl-2
              = link_to 'proartifact_ru', 'https://t.me/proartifact_ru', target: '_blank'
        %li.d-flex.justify-content-between.align-items-center
          .icons.d-flex.flex-row.align-items-center
            = image_tag "zen_logo.png", class: "mr-1 fa-icons zen_logo", alt: '', width: '24', height: '24'
            .pl-2
              = link_to 'Yandex Zen', 'https://zen.yandex.ru/id/5b27f16427d6fc00a99b71fa', target: '_blank'
        %li.d-flex.justify-content-between.align-items-center
          .icons.d-flex.flex-row.align-items-center
            = fa_icon "youtube-play", class: "mr-1 fa-icons"
            .pl-2
              = link_to 'Youtube', 'https://www.youtube.com/channel/UCqSp88Q4qmsoDkNdU-bm2-A/', target: '_blank'
