- content_for :meta_title, "#{@tier_list.name} | #{DEFAULT_META["meta_title"]}"
- content_for :meta_description, 'Рейтинг карт для драфта, созданный Hyped, игроком Team Liquid. Также свой вклад внесли Aleco, RobAJG, и Liquid`Fr0zen'
- content_for :meta_image, "tl_pic.jpg"
- content_for :vk_meta_image, "tl_pic.jpg"

%section.latest-post-area
  .container.no-padding
    .row
      .col-lg-12.post-list.px-1
        / Start single-post Area
        %article.single-post-wrap{itemtype: "https://schema.org/Article", itemscope: '', style: 'background: #1a1a1a;'}
          %meta{content: "#{@tier_list.name} | #{DEFAULT_META["meta_title"]}", itemid: "#{request.base_url + article_path(@tier_list.friendly_id)}", itemprop: "mainEntityOfPage", itemscope: "", itemtype: "https://schema.org/WebPage", content: @tier_list.name}
          %div{itemtype: "https://schema.org/ImageObject", itemprop: "image", itemscope: ''}
          #toggle_description.float-right{style: 'color: white'} Свернуть
          #tl_description.content-wrap
            .d-none{itemprop: "publisher", itemtype: "https://schema.org/Organization", itemscope: ''}
              %div{itemprop: "logo", itemtype: "https://schema.org/ImageObject", itemscope: ''}
                = image_tag 'logo.png', class: "card-img-top", height: '30px', alt: 'Proartifact.ru', itemprop: "url image"
                %meta{:content => "100", :itemprop => "width"}
                %meta{:content => "15", :itemprop => "height"}
              %meta{itemprop: "name", content: "Pro Artifact"}
              %meta{itemprop: "address", content: "Россия"}
              %meta{itemprop: "telephone", content: "0"}
            .d-none{itemprop: "articleBody"}= @tier_list.description.html_safe
            .d-none{itemprop: "author", itemtype: "http://schema.org/Person", itemscope: ''}
              %meta{itemprop: "name", content: "https://vk.com/proartifact_ru"}
            / Article body
            %h1{itemprop: "headline"}= @tier_list.name
            = @tier_list.description.html_safe
          %div
            / Yandex.RTB R-A-334935-3
            #yandex_rtb_R-A-334935-3
            :javascript
              (function(w, d, n, s, t) {
                  w[n] = w[n] || [];
                  w[n].push(function() {
                      Ya.Context.AdvManager.render({
                          blockId: "R-A-334935-3",
                          renderTo: "yandex_rtb_R-A-334935-3",
                          async: true
                      });
                  });
                  t = d.getElementsByTagName("script")[0];
                  s = d.createElement("script");
                  s.type = "text/javascript";
                  s.src = "//an.yandex.ru/system/context.js";
                  s.async = true;
                  t.parentNode.insertBefore(s, t);
              })(this, this.document, "yandexContextAsyncCallbacks");
          #filters_container.mb-3.pb-2.card_list_topbar
            .row.pl-4
              .mr-3.pl-2.text-center
                Тип
                #filters_type
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 1}
                    %span.icon-hero
                    = image_tag 'ico_empty.png', width: '35'
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 2}
                    %span.icon-spell
                    = image_tag 'ico_empty.png', width: '35'
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 3}
                    %span.icon-attack
                    = image_tag 'ico_empty.png', width: '35'
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 4}
                    %span.icon-creep
                    = image_tag 'ico_empty.png', width: '35'
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 5}
                    %span.icon-improvement
                    = image_tag 'ico_empty.png', width: '35'
              .mr-3.text-center
                Редкость
                #filters_rarity
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 1}
                    .squere_rarity{style: 'background-color:#f7f7f7;'}
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 2}
                    .squere_rarity{style: 'background-color:#cd7f32;'}
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 3}
                    .squere_rarity{style: 'background-color:#95a5a6;'}
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 4}
                    .squere_rarity{style: 'background-color:#ffba01;'}
              .mr-3.text-center
                Цвет
                #filters_color
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 1}
                    .circle_color{style: 'background-color:#4b623c;'}
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 2}
                    .circle_color{style: 'background-color:#6f1424;'}
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 3}
                    .circle_color{style: 'background-color:#3e3f3f;'}
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 4}
                    .circle_color{style: 'background-color:#1f4a64;'}
              .mr-3.text-center
                Сет
                #filters_set
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 1}
                    %span.icon-set1
                    = image_tag 'ico_empty.png', width: '35'
                  .btn.list_filter_buttons.col{value: 0, 'data-type' => 2}
                    %span.icon-set2
                    = image_tag 'ico_empty.png', width: '35'
              #card_search_input.mr-3.mt-4
                %input{:placeholder => " Поиск"}
                #search_button.btn.btn-gold.ml-1
                  поиск
          .placeholder2.container.visible.card_list.row
            - @tl_groups.each_with_index do |column, i|
              .col-md-3.card-column{data: {tier_id: column.id}}
                %h4= column.name
                - tiers_cards = column.tier_list_cards.includes(:card).order(:order)
                - tiers_cards.each do |tier_card|
                  - card = tier_card.card
                  .col-md-12.card_line.tooltip-card{style: "padding:0px;margin:0;", data: {id: card.id, color: card.color, type: card.card_class, rarity: card.rarity, set: card.card_set, eng_title: card.eng_title&.downcase || '', title: card.title&.downcase}}
                    = link_to card, class: "#{color_class(card.color)}-card-tooltip card-tooltip", target: '_blank' do
                      %div.cards_gr{class: "bg1_#{color_class(card.color)}", style: "border-left: 4px solid #{rarity_color(card.rarity)};"}
                        %div{:style => "padding-right: 10px;float:left;"}
                          %span{class: "icon-#{type_to_icon(card.item_type ? "i-#{card.item_type}" : card.card_class)}"}
                        = card.title
                      .card_price{style: ''}= "#{card.market_price}р."
