.sidebars-area.mb-3
  .single-sidebar-widget.list_block
    .sidebars-area.mb-4.p-0
      %h4.title
        = @card.title
        %small.float-right= type_title(@card.card_class)
      %ul.block_list.properties_list
        %li
          .icons.tag_line
            Тип:
            %span.icon-spells{class: "icon-#{type_to_icon("i-#{@card.item_type}")}"}
        %li
          .icons.tag_line
            Стоимость:
            %span= @card.item_gold
        %li
          .icons.tag_line
            Цвет карты:
            %span{:style => "color:#{color_card(@card.color)};"}
              = fa_icon "circle"
              = color_to_word(@card.color)
        %li
          .icons.tag_line
            Редкость:
            %span{:style => "color:#{rarity_color(@card.rarity)};"}
              = fa_icon "square"
              = rarity_to_word(@card.rarity)
    %h2.cat-title Описание
    .effect_card.mb-4
      = @card.description&.html_safe
    = render 'cards/lore_card'